@charset 'utf-8';

/* custom reset */
a {text-decoration: none;}
table {width: 100%;}
img, input, label, select { vertical-align: middle; }
img {max-width: 100%;}
input + span { vertical-align:middle; }
label {cursor: pointer;}
legend, caption {overflow: hidden; font-size:0; width:0; height:0; line-height:0; position:absolute; top: 0; left:-9999px;}
.hide {display: none !important;}
.hidden, .skip {overflow: hidden; font-size:0; width:0; height:0; line-height:0; position:absolute; top: 0; left:-9999px; opacity: 0; filter: alpha(opacity=0);}
.cf:after, .clr:before, .clr:after, .container:before, .container:after {content: ""; display: block;}
.cf:after, .clr:after, .container:after {clear: both;}

/* dropDown-bg */
.dropDown-bg {position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba85.png) repeat;}

.appe-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.appe-s-reset {
    border: 1px solid #ddd; border-radius: 0; background: #fff;
}


/* a태그 아이콘 X버튼*/
.a-i-x, .a-i-x2 {position: absolute; display: block; width: 20px; height: 20px; top: 10px; right: 10px;}
.a-i-x:before, .a-i-x:after,
.a-i-x2:before, .a-i-x2:after {content: ""; display: inline-block; position: absolute; width: 20px; height: 1px; background: #555;}
.a-i-x2:before, .a-i-x2:after {width: 20px; height: 1px;}
.a-i-x:before, .a-i-2:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.a-i-x:after, .a-i-x2:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);   
}

/*.ie8 .a-i-x:after {content: "×"; font-family: sans-serif; background: 0;}*/
/* rArrow, lArrow 버튼 */
.ic-lArrow:after, .ic-rArrow:after, .ic-bArrow:after {
	position: relative; top: -2px;
    content: ""; display: inline-block; width: 7px; height: 7px; border: 1px solid #898989;
    -webkit-transform: rotate(-45deg); 
    -ms-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
    transform: rotate(-45deg); 
}
.ic-lArrow:after {
    border-right: 0; border-bottom: 0;
    left: 2px;
}
.ic-rArrow:after {
    border-top: 0; border-left: 0;
    right: 2px;
}
.ic-bArrow:after {
    border-top: 0; border-right: 0;
    top: 2px; width: 8px; height: 8px;
}
.ie8 .ic-lArrow:after, .ie8 .ic-rArrow:after {
	width: auto; height: auto; 
	border: 0; left: 0; right: 0;
}
.ie8 .ic-lArrow:after {content: "◀";}
.ie8 .ic-rArrow:after {content: "▶";}
.ie8 .ic-bArrow:after {content: "▼";}

.i-borL-tran, .i-borT-tran {position: relative;}
.i-borL-tran:before, .i-borL-tran:after, .i-borT-tran:before, .i-borT-tran:after{
	position: absolute; content: ""; border: 4px solid transparent; 
}

.i-borT-tran:before .i-borT-tran:after {
	border-bottom: 8px solid #233549;  top: -13px; left: 18px;
}
.i-borT-tran:after {
	top: -12px;	
}

.i-borL-tran:before, .i-borL-tran:after {
	border-right-color: #d2d2d2; bottom: 6px; left: -9px;
}
.i-borL-tran:after {
	border-right-color: #fff; left: -8px;
}
.ie8 .i-borL-tran, .ie8 .i-borT-tran {display: none;}


